= question.body
= form_for(@question) do |f|
	= f.label :answered, "Megválaszolt kérdés?"
	%br
	= f.label :answered, "Igen", :value => "true"
	= f.radio_button :answered, true
	= f.label :answered, "Nem", :value => "false"
	=f f.radio_button :answered, false
	=f.submit "Küldés"

	= link_to "Vissza", questions_path
