.question_container
  - if user_signed_in?      
    #question_form
      %h2 Kérdezz!
      = render 'form'
  -else
    .error
      Ha új kérdést szeretnél feltenni, vagy a kérdésekre válaszolni, 
      =link_to "be kell jelentkezned!", new_user_session_path
  

  - @questions.each do |question|
    %ul
      %li
        %p= question.body
        = link_to "Tovább!", question
