.question_container	
	.question= @question.body

	.comment_container	
		%h2 Válaszok
		- @question.answers.each do |answer|
			%ul 
				%li
					%p= answer.user		
					%p= answer.body 
		- if user_signed_in?
			= render "answers/form"
		- else
			.error
				Új válasz írásához 
				=link_to "be kell jelentkezned!", new_user_session_path
		= link_to 'Vissza', "/"
