<div class="devise_container">
  <h2>Profil szerkesztése <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :felhasználónév %><br />
    <%= f.text_field :username, :autofocus => true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :új_jelszó %> <i>(Hagyd üresen, ha nem akarod megváltoztatni)</i><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :új_jelszó_újra %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :jelenlegi_jelszó %> <i>(A változtatásokhoz add meg a jelenlegi jelszavad.)</i><br />
    <%= f.password_field :current_password %></div>

    <div><%= f.submit "Frissítés" %></div>
  <% end %>

  <p><%= button_to "Felhasználói fiók törlése", registration_path(resource_name), :data => { :confirm => "Biztos vagy benne?" }, :method => :delete %></p>

  <%= link_to "Vissza", :back %>
</div>
