<div class="devise_container">
  <h2>Regisztráció</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :felhasználónév %><br />
    <%= f.text_field :username, :autofocus => true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :jelszó %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :jelszó_újra %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Regisztráció" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
