.article_container
	- @articles.each do |article|
		%ul
			%li
				%h2= link_to article.title, article
				= article.excerpt
			- if user_signed_in?	
				- if current_user.admin?
					= link_to 'Szerkesztés', edit_article_path(article)
					= link_to 'Törlés', article, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
- if user_signed_in?
	- if current_user.admin
		= link_to 'New Article', new_article_path
