.article_show
	%h2= @article.title
	%br
	= @article.body
	
	.comment_container
		%h2 Hozzászólások
		- @article.comments.each do |comment|

			%ul 
				%li
					%p.head= comment.user	
					%p= comment.body 
		- if user_signed_in?
			= render "comments/form"
		- else
			.error
				Új hozzászólás írásához 
				=link_to "be kell jelentkezned!", new_user_session_path
		= link_to 'Vissza', "/"
