.article_container
	%h2 Cikkek
	- @articles.each do |article|
		%ul
			%li
				%h3= link_to article.title, article
				= article.excerpt
	= link_to "Tovább a többi cikkre!", articles_path

.question_container	
	%h2 Kérdések		
	- @questions.each do |question|
		%ul
			%li
				%p= question.body
				= link_to "Tovább!", question
	= link_to "Tedd fel a saját kérdésedet!", questions_path