%h1 Listing answers

%table
  %tr
    %th Question
    %th User
    %th Body
    %th Points
    %th Good answer
    %th
    %th
    %th

  - @answers.each do |answer|
    %tr
      %td= answer.question_id
      %td= answer.user_id
      %td= answer.body
      %td= answer.points
      %td= answer.good_answer
      %td= link_to 'Show', answer
      %td= link_to 'Edit', edit_answer_path(answer)
      %td= link_to 'Destroy', answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Answer', new_answer_path
