<div class="devise_container">
	<h2>Bejelentkezés</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :felhasználónév %><br />
	  <%= f.text_field :username, :autofocus => true %></div>

	  <div><%= f.label :jelszó %><br />
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :emlékezz_rám %></div>
	  <% end -%>

	  <div><%= f.submit "Bejelentkezés" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
