@mixin border-radius-side ($side, $radius) {
  -webkit-border-#{$side}-radius: $radius;
     -moz-border-#{$side}-radius: $radius;
      -ms-border-#{$side}-radius: $radius;
       -o-border-#{$side}-radius: $radius;
          border-#{$side}-radius: $radius;	
}

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;	
}

@mixin container {
	background-color: white;
	font-size: 1.3em;
	border-left: 6px solid #d92d2d;
	padding: 1% 2% 2% 2%;
	width: 95%;

	h2 {
		color: #d92d2d;
		margin-bottom: 2%;
	}


}

@mixin center {
	margin-left: 10%;
	margin-right: auto;

}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;

	background-color: #f4f4f4;

	font-family: Arial, Helvetica, sans-serif;
}

#wrap {
	margin: 0;
	min-height: 100%;
}

#main{
	overflow:auto;
}

a {
	text-decoration: none;
	color: #078abb;
	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

header {
	position: relative;
	left:0;
	top:0;
	margin: 0 auto;
	background: #d92d2d;
	height: 110px;
	a {
		color: white;

	}

	h1 {
		color: white;
		padding-top: 2%; 
		padding-left: 3%;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	}

	nav {
		position: absolute;
		bottom: 30%;
		right: 2%;
		font-weight: bold;
		width: 100%;

		li {
			float: right;
			display: inline;
			padding: 1%;
			opacity: 0.9;
			&:hover, &:active {
				opacity: 1;
			}
		}
	}

		#username {
			color: white;
			text-decoration: underline;
		}
}

.container {
	margin-top: 2%;
	width: 80%;
	padding-bottom: 150px;

	h1 {
		border-bottom: 1px solid gray;
	}
}
.devise_container {

	@include center;

	margin: 5%;
	margin-bottom: 5%;
}


.article_container {

	@include container;
	@include border-radius(10px);
	@include center;

	margin-top: 1%;
	margin-bottom: 3%;
	
	ul {
		padding-bottom: 1%;
	}
}

.article_show {

	@include border-radius(10px);
	@include container;

	background-color: white;
	margin-left: 20%;
	margin-right: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 60%;
	padding: 3% 3% 3% 3%;
	font-size: 1.4em;
	line-height: 1.4em;
	border-left: 6px solid #d92d2d;
	h2 {
		border-bottom: 2px solid #d92d2d;
	}
}

.question_container {

	@include container;
	@include border-radius(10px);
	@include center;

	margin-bottom: 5%;

	ul {
		margin-top: 1%;
		
		li {
			border-bottom: 1px solid gray;
		}

		p {
			vertical-align: middle;
		}
	}
}

.question {

	margin-left: auto;
	margin-right: auto;

	font-size: 2em;
	line-height: 1;
	text-align: center;

	color: white;
	background: #d92d2d;
	width: 96%;
	margin-top: 5%;
	padding: 2% 2% 2% 2%;
}


#question_form {
	bachground: black;

}

.question_index {
	margin-top: 4%;
}

.error {
	padding: 1% 1% 1% 1%;
	text-align: center;
	background-color: #d92d2d;
	color: white;

	a {
		color: #00bbdf;
	}
}

.comment_container {
	@include border-radius(10px);

	margin-top: 10%;
	font-size: 1.1em;
	line-height: 1.4;

		ul {
			margin-top: 1%;
			li {
				border-bottom: 1px solid gray;
			}
	}
}


.comment_form {
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
}


footer {
	margin-top: 2%;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	border-top: 2px solid #c0c0c0;
	color: white;
	background-color: #272822;

	ul li {
		padding-left: 3%;
		display: inline-block;	
	}

	#add_right {
		position: absolute;
		float: right;
	}
}
