<!DOCTYPE html>
<html>
<head>
  <title>Barangoló Egészség</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<div id="wrap">
<div id="main">

<header>
	<%= link_to "<h1>Barangoló Egészség</h1>".html_safe, root_path %>
	<nav>
		<ul>
			<li>		
			<% if user_signed_in? %>
			<li>
				<%= link_to "Kijelentkezés", destroy_user_session_path, :method => :delete %>
			</li>
			<li>	
				<span id="username"><%= link_to current_user.username, edit_user_registration_path %></span>
			</li>
			<% else %>
			<li>
				<%= link_to "Regisztráció", new_user_registration_path %> 
			</li>
			<li>
				<%= link_to "Bejelentkezés", new_user_session_path %>
			</li>
			<% end %>
			<li>
				<%= link_to "Kérdések", questions_path %>
			</li>
			<li>
				<%= link_to "Cikkek", articles_path %>
			</li>
			<li>
				<%= link_to "Főoldal", root_path %>
			</li>
		</ul>
	</nav>
</header>

<div class="container">
	<%= yield %>
</div>
</div>
</div>
<footer>
	<ul>
		<li>
			<p><strong>Elérhetőség:</strong></p>
			<p>Telefon: 555-327</p>
			<p>Email: gyik@citromail.hu</p>
			<p>Végegyháza, Széchenyi u. 7.</p>
		</li>
		<li>
			<p><strong>Linkek:</strong></p>
			<p><a href="http://vegegyhazibarangolo.hu">Végegyházi Barangoló</a></p>
			<p><a href="http://ujszechenyiterv.gov.hu">Új Széchenyi Terv</a></p>
			<p><a href="http://www.nfu.hu/">Nemzeti Fejlesztési Ügynökség</a></p>
		</li>
	</ul>
</footer>
</body>
</html>
</html>
